@charset "UTF-8";
// --------------------------------------------------
// 変数設定
// --------------------------------------------------
$primary: #000;
$secondary: #000;

$f-fa: FontAwesome;
$f-mdi: Material Design Icons;
$f-min: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Sawarabi Mincho", "ＭＳ Ｐ明朝", "MS PMincho", "游明朝体", "Yu Mincho", YuMincho, serif;
$f-notosans: "Noto Sans Japanese";
