@charset "UTF-8";
// --------------------------------------------------
// 変数設定
// --------------------------------------------------
$f-fa: FontAwesome;
$f-min: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Sawarabi Mincho", "ＭＳ Ｐ明朝", "MS PMincho", "游明朝体", "Yu Mincho", YuMincho, serif;
